* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  -webkit-text-stroke: 0.5px black;
  text-decoration: none;
  color: #ffffff
}

body {
  background: linear-gradient(
    180deg,
    #7400b8 0%,
    #5390D9 50%,
    #56CFE1 100%
  );
}
.App {
  display: flex;
  flex-direction: column;
  width: 550px;
  min-height: 650px;
  background: linear-gradient(
    180deg,
    #72EFDD 0%,
    #64DFDF 20%,
    #56CFE1 100% 
  );
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 50px 0 0 0;
  font-size: 37px;
}

.Home {
  text-decoration: none;
}

ul {
  list-style-type:none;
}

ul li {
  border-style: outset;
  margin: 7px;
  padding: 25px;
  background-color: #6930C3;
}

.AddToDo {
  margin: 32px;
}

.Placeholder {
  color: #7400B8
}

.todotitle {
  font-size: 30px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    #4EA8DE 0%,
    #6930C3 100%
  );
  color: #ffffff;
  text-transform: capitalize;
  margin: 35px 20px 15px 20px;
  text-decoration: none;
  font-size: 20px
}

footer {
  margin: 35px;
  font-size: 35px
}

.landingpage {
  border-style: outset;
  margin: 7px;
  padding: 25px;
  background-color: #6930C3;
}